.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
}

.item img {
  width: 100%;
  height: auto;
}

.caption {
  margin-top: 10px;
}
